<div class="row">
  <div class="col-md-12">
    <nb-card>
      <nb-card-header>
        Result Http Client
      </nb-card-header>
      <nb-card-body>
          <div class="form-group row">
            <label for="inputID" class="col-sm-3 col-form-label">ID</label>
            <div class="col-sm-9">
              {{data.id}}
            </div>
          </div>
          <div class="form-group row">
            <label for="inputName" class="col-sm-3 col-form-label">Name</label>
            <div class="col-sm-9">
              {{data.name}}
            </div>
          </div>
          <div class="form-group row">
            <label for="inputAge" class="col-sm-3 col-form-label">Age</label>
            <div class="col-sm-9">
              {{data.age}}
            </div>
          </div>
      </nb-card-body>
    </nb-card>
  </div>
</div>
<div class="row">
    <div class="col-md-12">
      <nb-card>
        <nb-card-header>
          Result Http Client
        </nb-card-header>
        <nb-card-body>
          <ngx-upload-file (file)="uploadFile($event)" [url]="urlUpload" [title]="'Upload File'"></ngx-upload-file>
        </nb-card-body>
      </nb-card>
    </div>
  </div>