@import '../../../@theme/styles/themes';
@import '~bootstrap/scss/mixins/breakpoints';
@import '~@nebular/theme/styles/global/breakpoints';

@include nb-install-component() {

  nb-card-back {
    /deep/ nb-card-header {
      border: none;
    }
  }

  .nb-arrow-up, .nb-arrow-down {
    position: absolute;
    top: 0;
    right: 0;
    @include nb-rtl(right, auto);
    @include nb-rtl(left, 0);
    padding: 1.5rem;
    cursor: pointer;
  }

  @include media-breakpoint-down(sm) {
    nb-card {
      height: 450px;
    }
  }

}
