<h1 id="title" class="title">Login</h1>
<p class="sub-title">Hello! Log in with your username.</p>

<form [formGroup]="form" (ngSubmit)="login()" aria-labelledby="title">

  <div class="form-control-group">
    <label class="label">Username :</label>
    <input [formControlName]="'username'"
          [required]="true"
          name="username"
          id="inputUsername"
          placeholder="Username"
          class="form-control"
          autofocus>
    <ng-container *ngIf="usernameError">
      <p class="error-message">
        Email is required!
      </p>
    </ng-container>
  </div>

  <div class="form-control-group">
    <label class="label">Password:</label>
    <input [formControlName]="'password'"
          [required]="true"
          class="form-control"
          name="password"
          type="password"
          id="inputPassword"
          placeholder="Password">
      <ng-container *ngIf="passwordError">
        <p class="error-message">
          Password is required!
        </p>
      </ng-container>
  </div>

  <button [disabled]="buttonLogin"
          fullWidth
          status="success"
          class="btn btn-primary">
    Log In
  </button>
</form>
