<div class="row">
    <div class="col-md-12 col-lg-4 col-xxxl-4">
        <nb-card>
            <nb-card-header>{{'Toolbox'}}</nb-card-header>
            <nb-card-body class="select-group" *ngIf="dataLoaded">
                <nb-select placeholder="- Select Tool -" status="success">
                    <nb-option *ngFor="let tool of tools" value="tool.key" [disabled]="tool.disabled" (selectionChange)="onChangeTool(tool)">{{tool.value}}</nb-option>
                </nb-select>
                <nb-select placeholder="- Select Shape -" status="success" *ngIf="isDraw">
                    <nb-option *ngFor="let shape of shapes" value="shape.key" [disabled]="shape.disabled" (selectionChange)="onChangeShape(shape)">{{shape.value}}</nb-option>
                </nb-select>
            </nb-card-body>
        </nb-card>
    </div>
    <div class="col-md-12 col-lg-8 col-xxxl-4">
        <nb-card>
            <nb-card-header>{{'Image'}}</nb-card-header>
            <nb-card-body>
                <div id="dwv" class="dwv">
                    <div class="layerContainer">
                        <div class="dropBox">{{'Drag and drop data here.'}}</div>
                        <canvas class="imageLayer"></canvas>
                        <div class="drawDiv"></div>
                        <div class="infoLayer">
                          <div class="infotl"></div>
                          <div class="infotc"></div>
                          <div class="infotr"></div>
                          <div class="infocl"></div>
                          <div class="infocr"></div>
                          <div class="infobl"></div>
                          <div class="infobc"></div>
                          <div class="infobr"></div>
                          <div class="plot"></div>
                        </div>                        
                    </div>
                </div>
            </nb-card-body>
        </nb-card>
    </div>
</div>