<ngx-datatable
    class="material"
    [columns]="columns"
    [(rows)]="rowsVar"
    [limit]="limitVar"
    [count]="countVar"
    [offset]="offsetVar"
    [columnMode]="columnMode"
    [loadingIndicator]="loadingIndicator"
    [selected]="selected"
    [selectionType]="selectionType"
    (select)="onSelect($event)"
    [externalPaging]="externalPaging"
    (page)="onPage($event)"
    [externalSorting]="externalSorting"
    [sortType]="sortType"
    (sort)="onSort($event)"
    [reorderable]="reorderable"
    (reorder)="onReorder($event)"
    [scrollbarV]="scrollbarV"
    [scrollbarH]="scrollbarH"
    [messages]="messages"
    [cssClasses]="cssClasses"
    [rowClass]="rowClass"
    [headerHeight]="50"
    [footerHeight]="50"
    [rowHeight]="rowHeight">
</ngx-datatable>