<nb-card size="xlarge">
    <nb-card-header>
        <span>Dashboard</span>
    </nb-card-header>
    <nb-card-body>
        <div>
            <rip-table
              [selected]="selected"
              [rows]="rows"
              [columns]="columns"
              [selectionType]="selectionType"
              [selectAllRowsOnPage]="true"
              (select)="onSelect($event)"
              (edit)="onEdit($event)"
              [checkbox]="true">
            </rip-table>
        </div>
    </nb-card-body>
</nb-card>